# Игнорировать node_modules
node_modules/

# Игнорировать файлы сборки и кэш
dist/
build/
.vite/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать лог-файлы или временные файлы
*.log

# Игнорировать файлы систем
.DS_Store
Thumbs.db

# Игнорировать временные файлы редактора, бывает полезно в некоторых случаях
*.tmp
*.temp

living-women/