.feedback__slider {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feedback__slide {
  background-image: url(../images/cover.webp);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 15px;
  inline-size: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  position: relative;
  color: #C9BECF;
  align-items: center;
}

.feedback__slide::after {
  content: '';
  display: block;
  block-size: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--col-hero-cover);
  opacity: 80%;
}

.feedback_author-container {
  inline-size: 100%;
  padding-block: 10px;
  background-color: #695078;
  text-align: center;
  border-radius: 15px;
  z-index: 1;
}

.feedback__author {
  font-size: 18px;
  font-weight: 500;
}

.feedback__text {
  padding: 15px 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  margin: auto;
}

.feedback__dot {
  min-block-size: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid #150A18;
  background-color: transparent;
}

.feedback__dots {
  display: flex;
  justify-content: center;
  gap: 15px;
}