*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
a {
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

button,
a:focus {
  outline: none;
}

button,
a:focus-visible {
  outline: none;
}

.full-size {
  min-inline-size: 100dvi;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}