.header__container {
  display: grid;
  grid-template-columns: max-content min-content;
  block-size: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-desk);
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  text-transform: uppercase;
}

/* .header__menu {
  display: flex;
  gap: var(--lo-header-gap);
  align-items: center;
} */

.navigation__links-list {
  display: flex;
  gap: var(--lo-header-gap);
  font-family: var(--font-menu);
}

.socials {
  display: flex;
  gap: var(--lo-header-gap);
  font-size: 0;
}

.socials__icon {
  inline-size: 30px;
  block-size: 30px;
  color: var(--col-page-bgMain);
}

.pc {
  display: none;
}

.mobile {
  flex-direction: column;
}

.header__menu[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: 100%;
  position: relative;
}

.burger__button {
  inline-size: 50px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  font-size: 0;
  display: flex;
}

.burger__button-close {
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 55px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  font-size: 0;
}

.burger__svg {
  margin-inline-start: auto;
}