.section-header {
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: 500;
  color: var(--col-text);
  margin-block-end: 25px;
}

.main {
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 400;
  color: var(--col-text);
  text-wrap: pretty;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * {
  border: 1px solid red;
} */

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  gap: 20px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__prev,
.embla__next {
  display: none;
}

.embla__dot {
  min-block-size: 50px;
}


.embla :is(.embla__dot--selected) {
  background-color: #150A18;
}