.section-header {
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: 500;
  color: var(--col-text);
  margin-block-end: 25px;
}

.main {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  color: var(--col-text);
  text-wrap: pretty;
}